{{> content_top }}
<section class="section"><div class="container">
<div class="tile is-ancestor">
<div class="tile is-vertical is-8 is-parent">

{{#each (blurbs site.pages)}}
<div class="tile is-child box">
    {{#with page.head}}
    <p class="title">{{title}}</p>
    <p class="subtitle">{{#if extra.date}}Published: {{extra.date}}{{/if}}</p>
    <p >{{description}}</p>
    {{/with}}

    <p>
    <a href="{{this.uri}}">View the Post</a></p>
</div>
{{/each}}

</div>
</div>
</div></section>
{{> content_bottom }}
