<footer class="footer"><div class="content">

    <span class="icon"><i class="fas fa-github-alt"></i></span>
    <span class="icon"><i class="fas fa-gitlab"></i></span>

    {{#if site.info.extra.copyright }}
    <p>&copy; {{site.info.extra.copyright}}</p>
    {{/if}}
</div></footer>

</body></html>

