{{> content_top}}
{{> navbar }}
<section class="hero is-fullheight-with-navbar ">
<div class="hero-body"><div class="container has-text-centered">
<p class="title">{{page.head.title}}</p>
{{#if page.head.description}}
<p class="subtitle">{{page.head.description}}</p>
{{/if}}
</div></div>

<div class="hero-foot"><nav class="tabs"><div class="container"><ul>
{{#if site.info.extra.copyright}}
<li>&copy; {{site.info.extra.copyright}}</li>
{{/if}}
</ul></div></nav></div>
</section>
</body></html>
