<nav class="navbar is-primary"><div class="container">
    <div class="navbar-brand"><p class="navbar-item">PEoP</p>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
           data-target="navbarHero"
           onclick="this.classList.toggle('is-active');document.querySelector('#'+this.dataset.target).classList.toggle('is-active');">

        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        </a></div>
    <div id="navbarHero" class="navbar-menu"><div class="navbar-end">
        <a class="navbar-item" href="/">accueil</a>
        <a class="navbar-item" href="/voyage">voyage</a>
        <a class="navbar-item" href="/tabla">tabla</a>
        <span class="navbar-item">
            <a class="button is-primary is-inverted" href="{{page.head.extra.git}}">
            <span class="icon"><i class="fab fa-github"></i></span>
                <span>コード</span>
            </a></span>
        </div></div>
    </div></nav>
