{{! See content_bottom.hbs }}

<footer class="wrapper style1 align-center">
	<div class="inner">
	<ul class="icons">
	<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
	<li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
<li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
	<li><a href="#" class="icon brands style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
	<li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
	</ul>

    {{#if site.info.extra.copyright }}
    <p>&copy; {{site.info.extra.copyright}}</p>
    {{/if}}
	</div>
</footer>

</div>

{{! Scripts }}
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/jquery.scrollex.min.js"></script>
	<script src="static/js/jquery.scrolly.min.js"></script>
	<script src="static/js/browser.min.js"></script>
	<script src="static/js/breakpoints.min.js"></script>
	<script src="static/js/util.js"></script>
	<script src="static/js/main.js"></script>

</body>
</html>
